extends a_primary.pug
block all
  .overlay2(onclick="(hideAllGoals())")
  .container-fluid.all-goals
    .row
      .col-xs-2
      .col-xs-8
        .row
          .col-xs-12.form-header All goals
          .col-xs-12.form-body
            .row
              .col-xs-12.col-headers
                .row
                  .col-xs-6
                    p Goal
                  .col-xs-1 
                    p Initial score
                  .col-xs-1 
                    p Current score
                  .col-xs-1 
                    p Target score
                  .col-xs-1 
                    p Status
                  .col-xs-2
              .col-xs-12.col-data
                each goal in goals
                  .row
                    .col-xs-6 #{goal.goal}
                    .col-xs-1 #{goal.initScore}
                    .col-xs-1 #{goal.history ? goal.history.data[goal.history.data.length - 1].value : ""}
                    .col-xs-1 #{goal.targScore}
                    .col-xs-1 #{goal.status}
                    .col-xs-2
                      form(action="/editGet" method="post")
                        input(type="hidden" name="id" value=goal.id)
                        button(type="submit")
                          i.fa.fa-edit(style="font-size:24px")
                      form(action="/delete" method="post")
                        input(type="hidden" name="id" value=goal.id)
                        button(type="submit")
                          i.fa.fa-remove(style="font-size:24px")
                      form(action="/offerTo" method="post")
                        input(type="hidden" name="id" value=goal.id)
                        button(type="submit")
                          i.fa.fa-share-alt(style="font-size:24px")
      .col-xs-2
  script.
    function hideAllGoals() {
      let elmToRemove1 = document.getElementsByClassName("all-goals")[0];
      let elmToRemove2 = document.getElementsByClassName("overlay2")[0];
      elmToRemove1.parentNode.removeChild(elmToRemove1);
      elmToRemove2.parentNode.removeChild(elmToRemove2);
    }

  block edit
