extends a_primary.pug
block all
  a.overlay2(href="/")
  .container-fluid.all-goals
    .row
      .col-xs-2
      .col-xs-8
        .row
          .col-xs-12.form-header All goals
          .col-xs-12.form-body
            .row
              .col-xs-12.col-headers
                .row
                  .col-xs-6
                    p Goal
                  .col-xs-1 
                    p Initial score
                  .col-xs-1 
                    p Current score
                  .col-xs-1 
                    p Target score
                  .col-xs-1 
                    p Status
                  .col-xs-2
              .col-xs-12.col-data
                each goal in goals
                  .row
                    .col-xs-6 #{goal.name}
                    .col-xs-1 #{goal.initScore}
                    .col-xs-1 #{goal.history ? goal.history.data[goal.history.data.length - 1].value : ""}
                    .col-xs-1 #{goal.targScore}
                    .col-xs-1 #{goal.status}
                    .col-xs-2
                      a(href="/edit/" + goal.id)
                        i.fa.fa-edit(style="font-size:24px")
                      a(href="/delete/" + goal.id)
                        i.fa.fa-remove(style="font-size:24px")
                      a(href="/offerTo/" + goal.id)
                        i.fa.fa-share-alt(style="font-size:24px")
      .col-xs-2
  block edit
  block delete
  block offerTo

