extends a_primary.pug
block myOwn
  a.overlay2(href="/")
  .container-fluid.all-goals
    .row
      .col-xs-2
      .col-xs-8
        .row
          .col-xs-12.form-header My goals
          .col-xs-12.form-body
            .row
              .col-xs-12.col-headers
                .row
                  .col-xs-6
                    p Unapproved goals offered to me
                  .col-xs-1 
                    p Initial score
                  .col-xs-1 
                    p Current score
                  .col-xs-1 
                    p Target score
                  .col-xs-1 
                    p Status
                  .col-xs-2
              .col-xs-12.col-data
                each goal in goals
                  if goal.statusOwner == "Pending" && goal.statusApprover == "Approved"
                    .row
                      .col-xs-6 #{goal.offer.name}
                      .col-xs-1 #{goal.offer.initScore}
                      .col-xs-1 -
                      .col-xs-1 #{goal.offer.targScore}
                      .col-xs-1 #{goal.status}
                      .col-xs-2
                        a(href="/accept/" + goal.id title="Accept")
                          i.far.fa-check-square(style="font-size:24px")
                        a(href="/negotiateOffered/" + goal.id title="Negotiate")
                          i.far.fa-comment(style="font-size:24px")
                        a(href="/delete/" + goal.id title="Reject")
                          i.fa.fa-remove(style="font-size:24px")
            .row
              .col-xs-12.col-headers
                .row
                  .col-xs-6
                    p Unapproved goals created by me
                  .col-xs-1 
                    p Initial score
                  .col-xs-1 
                    p Current score
                  .col-xs-1 
                    p Target score
                  .col-xs-1 
                    p Status
                  .col-xs-2
              .col-xs-12.col-data
                each goal in goals
                  if goal.statusOwner == "Approved" && goal.statusApprover == "Pending"
                    .row
                      .col-xs-6 #{goal.name}
                      .col-xs-1 #{goal.initScore}
                      .col-xs-1 #{goal.history ? goal.history.data[goal.history.data.length - 1].value : ""}
                      .col-xs-1 #{goal.targScore}
                      .col-xs-1 #{goal.status}
                      .col-xs-2
                        a(href="/negotiateOwn/" + goal.id title="Negotiate")
                          i.far.fa-comment(style="font-size:24px")
                        a(href="/delete/" + goal.id title="Reject")
                          i.fa.fa-remove(style="font-size:24px")
            .row
              .col-xs-12.col-headers
                .row
                  .col-xs-6
                    p Approved goals
                  .col-xs-1 
                    p Initial score
                  .col-xs-1 
                    p Current score
                  .col-xs-1 
                    p Target score
                  .col-xs-1 
                    p Status
                  .col-xs-2
              .col-xs-12.col-data
                each goal in goals
                  if goal.status == "Approved"
                    .row
                      .col-xs-6 #{goal.name}
                      .col-xs-1 #{goal.initScore}
                      .col-xs-1 #{goal.history ? goal.history.data[goal.history.data.length - 1].value : ""}
                      .col-xs-1 #{goal.targScore}
                      .col-xs-1 #{goal.status}
                      .col-xs-2
                        a(href="/edit/" + goal.id title="Edit")
                          i.fa.fa-edit(style="font-size:24px")
                        a(href="/delete/" + goal.id title="Delete")
                          i.fa.fa-remove(style="font-size:24px")
                        a(href="/offerTo/" + goal.id title="Ofer to...")
                          i.fa.fa-share-alt(style="font-size:24px")
      .col-xs-2
  block edit
  block delete
  block offerTo
  block accept
  block negotiateOffered
  block negotiateOwn

