extends f_myOwn.pug
block edit
  a.overlay3(href="/myOwn")
  .container-fluid.form_level2
    .row
      .col-xs-4
      .col-xs-4
        .row
          .col-xs-12.form-header Edit a goal
        .row
          .col-xs-12.form-body
            .row
              form(action="/edit" method="post" href="")
                .col-xs-12.add-group
                  .form-group
                    label(for="name") Goal:
                    input(type="text" class="form-control" name="name" value=goal.goal) 
                  .form-group.i-score
                    label(for="initScore") Initial score:
                    input(type="text" class="form-control" name="initScore" placeholder="50%" value=goal.initScore)
                  .form-group.t-score
                    label(for="targScore") Target score:
                    input(type="text" class="form-control" name="targScore" placeholder="99%" value=goal.targScore)
                  .form-group.comment
                    label(for="comment") Comment:
                    input(type="text" class="form-control" name="comment" value=goal.comments)
                    input(type="hidden" name="id" value=goal.id)
                  .form-group.save-btn
                    input.btn.btn-default(type="submit" value="Save")