extends f_all.pug
block edit
  a.overlay3(href="/all")
  .container-fluid.form_level2
    .row
      .col-xs-4
      .col-xs-4
        .row
          .col-xs-12.form-header Offer the goal to:
        .row
          .col-xs-12.form-body
            .row
              .col-xs-12.add-group
                .form-group
                  label(for="name") Goal:
                  input(type="text" class="form-control" name="goal" value=goal.goal readonly) 
                .form-group.i-score
                  label(for="initScore") Initial score:
                  input(type="text" class="form-control" name="initScore" value=goal.initScore readonly)
                .form-group.t-score
                  label(for="targScore") Target score:
                  input(type="text" class="form-control" name="targScore" value=goal.targScore readonly)
                .form-group.comment
                  label(for="comment") Comment:
                  input(type="text" class="form-control" name="comment" value=goal.comments readonly)
              form(action="/offerTo" method="post" href="")
                .col-xs-12.offer-group
                  .row
                    .col-xs-12.offer-elm
                      .row
                        .col-xs-5
                          .form-group.offer-list
                            label(for="offerTo") Offer to:
                            <br/>
                            select(name="offerTo[0]" onchange="selectUnit(0)")
                              option(value="") Choose
                              each child in children
                                option(value=child.id) #{child.name}
                        .col-xs-2
                        .col-xs-5
                          .form-group.weight
                            label(for="weight") Weight:
                            input(type="text" class="form-control" name="weight[0]" placeholder="100%")
                        .col-xs-5
                          .form-group.offer-i-score
                            label(for="oInitScore") Initial score:
                            input(type="text" class="form-control" name="oInitScore[0]" value=goal.initScore)
                        .col-xs-2
                        .col-xs-5
                          .form-group.offer-t-score
                            label(for="oTarget") Target score:
                            input(type="text" class="form-control" name="oTarget[0]" value=goal.targScore)
                        .col-xs-12
                          .form-group.offer-comment
                            label(for="oComment") Comment:
                            input(type="text" class="form-control" name="oComment[0]" value=goal.comments)
                            input(type="hidden", name="parent[0]", value=goal._id)
                    .form-group.make-offer-btn
                      input.btn.btn-default(type="submit" value="Submit the offers")
    script.
      function selectUnit(nr) {
        if (nr == document.getElementsByClassName("offer-elm").length - 1) {                                  
          let offerToElm = document.getElementsByClassName("offer-elm")[0].cloneNode(true);
          offerToElm.getElementsByClassName("offer-list")[0].getElementsByTagName("select")[0].setAttribute("onchange", "selectUnit(" + (nr + 1) + ")");
          offerToElm.getElementsByClassName("offer-list")[0].getElementsByTagName("select")[0].setAttribute("name", "offerTo[" + (nr + 1) + "]");
          offerToElm.getElementsByClassName("weight")[0].getElementsByTagName("input")[0].setAttribute("name", "weight[" + (nr + 1) + "]");
          offerToElm.getElementsByClassName("offer-i-score")[0].getElementsByTagName("input")[0].setAttribute("name", "oInitScore[" + (nr + 1) + "]");
          offerToElm.getElementsByClassName("offer-t-score")[0].getElementsByTagName("input")[0].setAttribute("name", "oTarget[" + (nr + 1) + "]");
          offerToElm.getElementsByClassName("offer-comment")[0].getElementsByTagName("input")[0].setAttribute("name", "oComment[" + (nr + 1) + "]");
          offerToElm.getElementsByClassName("offer-comment")[0].getElementsByTagName("input")[1].setAttribute("name", "parent[" + (nr + 1) + "]");
          let makeOfferButton = document.getElementsByClassName("make-offer-btn")[0];
          document.getElementsByClassName("offer-group")[0].getElementsByClassName("row")[0].insertBefore(offerToElm, makeOfferButton);
        }
      }