extends f_others_.pug
block negotiateMyOffered
  a.overlay3(href="/others")
  .container-fluid.form_level2
    .row
      .col-xs-4
      .col-xs-4
        .row
          .col-xs-12.form-header Negotiate a goal
        .row
          .col-xs-12.form-body.negotiate
            if goal.updated_formatted
              .row
                .col-xs-12
                  .form-group-header= "Response from " + goal.owner.owner.name + " (" + goal.owner.name + "), " + goal.updated_formatted + ":" 
                  .form-group
                    label(for="name") Goal:
                    input(type="text" class="form-control" name="name" value=goal.name readonly) 
                  .form-group.i-score
                    label(for="initScore") Initial score:
                    input(type="text" class="form-control" name="initScore" value=goal.initScore readonly)
                  .form-group.t-score
                    label(for="targScore") Target score:
                    input(type="text" class="form-control" name="targScore" value=goal.targScore readonly)
                  .form-group.comment
                    label(for="comment") Comment:
                    input(type="text" class="form-control" name="comment" value=goal.comment readonly)
            .row
              .col-xs-12
                 form(action="/negotiateOthers" method="post" href="")
                  .form-group-header= "My offer " + (goal.offer.updated_formatted ? goal.offer.updated_formatted : goal.offer.created_formatted) + ":" 
                  .form-group
                    label(for="name") Goal:
                    input(type="text" class="form-control" value=goal.offer.name) 
                  .form-group.i-score
                    label(for="initScore") Initial score:
                    input(type="text" class="form-control" value=goal.offer.initScore)
                  .form-group.t-score
                    label(for="targScore") Target score:
                    input(type="text" class="form-control" value=goal.offer.targScore)
                  .form-group.comment
                    label(for="comment") Comment:
                    input(type="text" class="form-control" value=goal.offer.comment)
                    input(type="hidden" name="id" value=goal.id)
                  .form-group.save-btn
                    input.btn.btn-default(type="submit" value="Submit a new offer")
