extends f_myOwn_.pug
block negotiateOwn
  a.overlay3(href="/myOwn")
  .container-fluid.form_level2
    .row
      .col-xs-4
      .col-xs-4
        .row
          .col-xs-12.form-header Negotiate a goal
        .row
          .col-xs-12.form-body.negotiate
            if goal.offer.updated_formatted
              .row
                .col-xs-12
                  .form-group-header= "An offer from " + goal.offer.owner.owner.name + " (" + goal.offer.owner.name + "), " + goal.offer.updated_formatted + ":" 
                  .form-group
                    label(for="name") Goal:
                    input(type="text" class="form-control" value=goal.offer.name readonly) 
                  .form-group.i-score
                    label(for="initScore") Initial score:
                    input(type="text" class="form-control" value=goal.offer.initScore readonly)
                  .form-group.t-score
                    label(for="targScore") Target score:
                    input(type="text" class="form-control" value=goal.offer.targScore readonly)
                  .form-group.comment
                    label(for="comment") Comment:
                    input(type="text" class="form-control" value=goal.offer.comment readonly)
            .row
              form(action="/negotiate" method="post" href="")
                .col-xs-12
                  .form-group-header= "My goal" + (goal.updated_formatted ? ', ' + goal.updated_formatted : '') + ":" 
                  .form-group
                    label(for="name") Goal:
                    input(type="text" class="form-control" name="name" value=goal.name) 
                  .form-group.i-score
                    label(for="initScore") Initial score:
                    input(type="text" class="form-control" name="initScore" value=goal.initScore)
                  .form-group.t-score
                    label(for="targScore") Target score:
                    input(type="text" class="form-control" name="targScore" value=goal.targScore)
                  .form-group.comment
                    label(for="comment") Comment:
                    input(type="text" class="form-control" name="comment" value=goal.comment)
                    input(type="hidden" name="id" value=goal.id)
                  .form-group.save-btn
                    input.btn.btn-default(type="submit" value="Submit a new response")
